/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,900&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,700;1,500;1,900&family=Roboto+Mono:wght@200&display=swap');

@font-face {
    font-family: BeautyLuxury;
    src: url('BeautyLuxuryRegular.woff');
}

/* Logo Styles */
.logofp {
    position: relative;
    font-family: BeautyLuxury, sans-serif;
    font-size: 8vh;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}

.letterS {
    font-feature-settings: "liga" 0;
}

/* Default styles for larger screens */
#divLanding {
    background-image: url('imgs/Background-1-Focus-Properties.png');
    background-size: cover;
    height: 100vh;
}

#headerDiv {
    background-color: #b2ac95;
    background-size: cover;
    height: 15vh;
    width: 250vh;
    position: fixed;
    z-index: 9999;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #b2ac95;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Responsive query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    #divLanding {
        background-image: url('imgs/Background-2-Focus-Properties.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* Layout Styles */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    padding-top: 170px;
}

/* Responsive query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .container {
        padding-top: 130px;
    }
}

.row {
    width: 50%;
}

.col {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* Button Styles */
button {
    width: 35%;
    box-sizing: border-box;
    background-color: #4A7258;
    color: white;
    border: none;
    border-radius: 42px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    button {
        width: 100%;
    }
}

/* Text Styles */
.properties {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    letter-spacing: 4px;
    font-size: 2.3vh;
    margin: -15px 1px
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .properties {
        letter-spacing: 0.6vh;
    }
}

.logo-container {
    position: fixed;
    align-items: start;
    justify-content: start;
    padding-top: 20px;
    padding-left: 20px;
}


/* Menu Styles */
.menu-container {
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
    content: '';
    display: block;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .menu-icon {
        font-size: 55px;
        cursor: pointer;
        content: '';
        display: block;
        margin: -4px 1px;
    }
}

.centered-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: space-around;
}

.centered-item img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-right: 10px;
}

.menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    background-color: #f0f0f0;
}

#menu-toggle:checked+.menu-icon+.menu {
    display: block;
}

input[type="checkbox"] {
    display: none;
}

#ending {
    padding-top: 25vh;
    text-align: center;
    padding-bottom: 2.5vh;
}

#PropertyAppraisal,
#SellingProperty {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 15vh;
}

#FindYourProperty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 10vh;
    align-items: center;
    margin-right: 25%;
    margin-left: 25%;
}

@media only screen and (max-width: 768px) {
    #FindYourProperty {
        display: flex;
        flex-direction: column;
        width: auto;
        white-space: nowrap;


    }
}


@media only screen and (max-width: 768px) {
    .grid-item {
        width: auto;
        display: flex;
        justify-content: center;
    }
}



.centerImg,
.centerButton {
    display: grid;
    place-items: center;
    margin-top: 20px;
    width: 20vh;
}

@media only screen and (max-width: 768px) {

    .centerImg,
    .centerButton {
        display: inline-flex;


    }
}



h1 {
    width: 50%;
    font-weight: 400;
    font-size: medium;
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
}




@media only screen and (max-width: 768px) {
    h1 {
        width: 90%;
        font-weight: 350;
        font-size: medium;
        font-family: 'Montserrat', sans-serif;
    }
}

.buttonFind {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .buttonFind {
        width: 100%;
    }
}

.blockImgs {
    width: 50%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .blockImgs {
        width: 100%;
        height: auto;
    }
}

#infoBuy {
    color: rgb(10, 156, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
}