/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,900&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,700;1,500;1,900&family=Roboto+Mono:wght@200&display=swap');

@font-face {
    font-family: BeautyLuxury;
    src: url('BeautyLuxuryRegular.woff');
}




/* Logo Styles */
.logofp {
    position: relative;
    font-family: BeautyLuxury, sans-serif;
    font-size: 8vh;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}

.letterS {
    font-feature-settings: "liga" 0;
}

/* Default styles for larger screens */
#divLanding {
    background-image: url('imgs/img1background.png');
    background-size: cover;
    height: 100vh;
}

#headerDiv {
    background-color: #b2ac95;
    background-size: cover;
    height: 15vh;
    width: 250vh;
    position: fixed;
    z-index: 9999;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #b2ac95;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Responsive query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    #divLanding {
        background-image: url('imgs/img2background.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* Layout Styles */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    padding-top: 170px;
}

/* Responsive query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .container {
        padding-top: 130px;
    }
}

.row {
    width: 50%;
}

.col {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* Button Styles */
button {
    width: 35%;
    box-sizing: border-box;
    background-color: #4A7258;
    color: white;
    border: none;
    border-radius: 42px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    button {
        width: 100%;
    }
}

/* Text Styles */
.properties {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    letter-spacing: 4px;
    font-size: 2.3vh;
    margin: -15px 1px
}




/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .properties {
        letter-spacing: 0.6vh;
    }
}



.logo-container {
    position: fixed;
    align-items: start;
    justify-content: start;
    padding-top: 20px;
    padding-left: 20px;
}



#FindYourProperty {
    margin-top: 200vh;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    #FindYourProperty {
        margin-top: 35vh;
    }
}


.blockText {
    font-weight: 200;
    display: flex;
    margin-left: 40vh;
    margin-right: 40vh;
}

@media only screen and (max-width: 768px) {
    .blockText {
        font-weight: 200;
        display: flex;
        margin-left: 72vh;
        margin-right: 72vh;
    }
}


.flex-container {
    display: flex;
    margin-top: 170vh;
    margin-left: 80vh;
    margin-right: 60vh;
    letter-spacing: 50px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .flex-container {
        display: flex;
        margin-top: 1vh;
        margin-left: 4vh;
        margin-right: 4vh;
        white-space: nowrap;
        letter-spacing: 10px;
    }
}





#divPropertyAppraisal,
#divSellingProperty {
    margin-top: 10vh;
}

.buttonFindProperty {
    width: 35%;
    box-sizing: border-box;
    background-color: #4A7258;
    color: white;
    border: none;
    border-radius: 42px;
    padding: 12px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}


.Appraisal,
.Selling {
    height: 50vh;
    margin-left: 70vh;
    margin-right: 70vh;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {

    .Appraisal,
    .Selling {

        height: 25vh;
        cursor: pointer;
        content: '';
        display: block;

    }
}









.header-container {
    background-color: red;
}


.blockimgs #block1 #block2 {
    background-size: cover;
    height: 70vh;

}



.itemFind {
    display: flex;
    margin-left: 10vh;
    margin-top: 5vh;
    background-size: cover;
    height: 15vh;


}






/* Menu Styles */
.menu-container {
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
    content: '';
    display: block;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .menu-icon {
        font-size: 55px;
        cursor: pointer;
        content: '';
        display: block;
        margin: -4px 1px;
    }
}

.centered-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: space-around;
}

.centered-item img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-right: 10px;
    /* Optional: Add some spacing between image and text */

}

.menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    background-color: #f0f0f0;
}

#menu-toggle:checked+.menu-icon+.menu {
    display: block;
}

input[type="checkbox"] {
    display: none;
}

.ending {
    padding-top: 25vh;
    text-align: center;
}

#ending {
    padding-top: 10vh;
    padding-bottom: 3vh;
}


#sections {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#divFindProperty {
    margin-top: 330vh;
    align-items: start;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}


@media only screen and (max-width: 768px) {
    #divFindProperty {
        margin-top: 300vh;
        align-items: start;
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }

}


.category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}



/* Responsive query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .category {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
}

.divCategory {
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttonFind {
    height: 3.5%;
    width: 25%;
    margin-bottom: 1%;
    margin-left: 5%;

}

@media only screen and (max-width: 768px) {
    .buttonFind {
        height: 3.5%;
        width: 25vh;
        margin-top: 0vh;
        margin-bottom: 1%;
        margin-left: 5%;
    }
}




.itemInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: x-small;
    letter-spacing: 0px;
    margin-top: 1vh;

}

.align {
    display: flex;
    align-items: center;
    margin-left: 1.5vh;
    white-space: nowrap;
}