/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,900&family=Roboto+Mono:wght@200&display=swap');

@font-face {
    font-family: BeautyLuxury;
    src: url('BeautyLuxuryRegular.woff');

}


/* Logo Styles */
.logofp {
    position: relative;
    font-family: BeautyLuxury, sans-serif;
    font-size: 8vh;
    display: inline-block;
    white-space: nowrap;
    margin: 0;


}

.letterS {
    font-feature-settings: "liga" 0;
}



/* Default styles for larger screens */
#divLanding {
    background-image: url('imgs/img1background.png');
    background-size: cover;
    height: 100vh;
}



body {
    font-family: 'Roboto Mono', monospace;
    background-color: #b2ac95;
    margin: 0;
    /* Reset margin to zero */
    padding: 0;
    /* Reset padding to zero */

}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Responsive query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    #divLanding {
        background-image: url('imgs/img2background.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}




/* Layout Styles */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    padding-top: 170px;
}

/* Responsive query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .container {
        padding-top: 130px;
    }
}


.row {
    width: 50%;
}

.col {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* Button Styles */
button {
    width: 35%;
    box-sizing: border-box;
    background-color: #4A7258;
    color: white;
    border: none;
    border-radius: 42px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}


@media only screen and (max-width: 768px) {
    button {
        width: 100%;
    }
}


/* Text Styles */
.properties {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    letter-spacing: 4px;
    font-size: 2.3vh;
    margin: -15px 1px
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .properties {
        letter-spacing: 0.6vh;

    }
}



.logo-container {
    position: fixed;
    align-items: start;
    justify-content: start;
    padding-top: 25px;
    padding-left: 20px;
}


#PropertyAppraisal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    height: 50vh;
    /* You may adjust the height as needed */
    margin-left: 60vh;
    margin-right: 60vh;
}



/* Responsive Styles */
@media only screen and (max-width: 768px) {
    #PropertyAppraisal {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        height: 100vh;
        /* You may adjust the height as needed */
        margin-left: 4.2vh;
        margin-right: 4.2vh;
        font-size: xx-small;
    }
}

.Appraisal {
    padding-top: 15vh;
}



#SellingProperty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    height: 50vh;
    /* You may adjust the height as needed */
    margin-left: 60vh;
    margin-right: 60vh;
}


/* Responsive Styles */
@media only screen and (max-width: 768px) {
    #SellingProperty {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        height: 100vh;
        /* You may adjust the height as needed */
        margin-left: 4.2vh;
        margin-right: 4.2vh;
        font-size: xx-small;
    }
}

.Selling {
  
}



/* Menu Styles */
.menu-container {
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
    content: '';
    display: block;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .menu-icon {
        font-size: 55px;
        cursor: pointer;
        content: '';
        display: block;
        margin: -4px 1px
    }
}



.menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    background-color: #f0f0f0;
}

#menu-toggle:checked+.menu-icon+.menu {
    display: block;
}


input[type="checkbox"] {
    display: none;
}

.ending {
    padding-top: 25vh;
    text-align: center;
}