body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F8F2
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
background-color:#F5F8F2
}

.newClass {

background-color: #F5F8F2

}


.login-form {
    background-color: #FCDE9C;
    border-radius: 13px;
    padding: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #1d8e00;
    border-radius: 8px;
    transition: border-color 0.3s; /* Transici칩n suave para el color del borde */
}

.remember-me{
    font-size: smaller;
    padding: 5px 5px;
}


/* Estilo para los campos de entrada cuando est치n enfocados */
.input-field:focus {
    border-color: #007bff; /* Color de borde resaltado */
}


/* Estilo inicial del bot칩n */
.submit-button {
    background-color: #E59B76;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0d8a19;
}

/* Estilo del bot칩n activo */
.submit-button.active {
    background-color: #28a745; 
}

